In [14]:
# Import pandas package
import pandas as pd
import numpy as np
	
# Define a dictionary containing data
data = pd.read_excel(r"C:\Users\cparker\OneDrive - WRHI\Desktop\Data\Maps\Mito2.xlsx")
	
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
	
# Observe the result
df

,Institution,Project,Country2,City 2,Carbon dioxide emissions,Continent,city_ascii,lat,lng,population
0,London School of Hygiene and Tropical Medicine,High Horizons,United Kingdom,London,379024.787,EU,London,51.5072,-0.1275,11120000
1,Wits RHI,High Horizons,South Africa,Johannesburg,476643.994,AFR,Johannesburg,-26.2044,28.0416,4434827
2,Lund University,High Horizons,Sweden,Stockholm,43252.265,EU,Stockholm,59.3294,18.0686,975819
3,Karolinska Institute,High Horizons,Sweden,Stockholm,43252.265,EU,Stockholm,59.3294,18.0686,975819
4,the World Health Organization,High Horizons,Switzerland,Geneva,34477.134,EU,Geneva,46.2000,6.1500,201818
...,...,...,...,...,...,...,...,...,...,...
35,University of Washington,HE2AT,United States,Seattle,5006302.077,US,Seattle,47.6211,-122.3244,3789215
36,University of Cape Town,HE2AT,South Africa,Cape Town,476643.994,AFR,Cape Town,-33.9250,18.4250,433688
37,University Peleforo Gon Coulibalu,HE2AT,Côte d'Ivoire,Abidjan,9673.546,AFR,Abidjan,5.3364,-4.0267,4980000
38,University of Michigan,HE2AT,United States,Ann Arbor,5006302.077,US,Ann Arbor,42.2755,-83.7312,322267
39,London School of Hygiene and Tropical Medicine,CHAMNHA,United Kingdom,London,379024.787,EU,London,51.5072,-0.1275,11120000

In [6]:
from geopy.exc import GeocoderTimedOut
from geopy.geocoders import Nominatim

# declare an empty list to store
# latitude and longitude of values
# of city column
longitude = []
latitude = []

# function to find the coordinate
# of a given city
def findGeocode(city):
	
	# try and catch is used to overcome
	# the exception thrown by geolocator
	# using geocodertimedout
	try:
		
		# Specify the user_agent as your
		# app name it should not be none
		geolocator = Nominatim(user_agent="your_app_name")
		
		return geolocator.geocode(city)
	
	except GeocoderTimedOut:
		
		return findGeocode(city)	

# each value from city column
# will be fetched and sent to
# function find_geocode
for i in (df["City 2"]):
	
	if findGeocode(i) != None:
		
		loc = findGeocode(i)
		
		# coordinates returned from
		# function is stored into
		# two separate list
		latitude.append(loc.latitude)
		longitude.append(loc.longitude)
	
	# if coordinate for a city not
	# found, insert "NaN" indicating
	# missing value
	else:
		latitude.append(np.nan)
		longitude.append(np.nan)

In [7]:
# now add this column to dataframe
df["Longitude"] = longitude
df["Latitude"] = latitude

df

,Institution,Project,Country2,City 2,Carbon dioxide emissions,Continent,city_ascii,lat,lng,population,Longitude,Latitude
0,London School of Hygiene and Tropical Medicine,High Horizons,United Kingdom,London,379024.787,EU,London,51.5072,-0.1275,11120000,-0.127647,51.507322
1,Wits RHI,High Horizons,South Africa,Johannesburg,476643.994,AFR,Johannesburg,-26.2044,28.0416,4434827,28.049722,-26.205000
2,Lund University,High Horizons,Sweden,Stockholm,43252.265,EU,Stockholm,59.3294,18.0686,975819,18.071093,59.325117
3,Karolinska Institute,High Horizons,Sweden,Stockholm,43252.265,EU,Stockholm,59.3294,18.0686,975819,18.071093,59.325117
4,the World Health Organization,High Horizons,Switzerland,Geneva,34477.134,EU,Geneva,46.2000,6.1500,201818,6.146601,46.201756
...,...,...,...,...,...,...,...,...,...,...,...,...
35,University of Washington,HE2AT,United States,Seattle,5006302.077,US,Seattle,47.6211,-122.3244,3789215,-122.330062,47.603832
36,University of Cape Town,HE2AT,South Africa,Cape Town,476643.994,AFR,Cape Town,-33.9250,18.4250,433688,18.417396,-33.928992
37,University Peleforo Gon Coulibalu,HE2AT,Côte d'Ivoire,Abidjan,9673.546,AFR,Abidjan,5.3364,-4.0267,4980000,-4.016107,5.320357
38,University of Michigan,HE2AT,United States,Ann Arbor,5006302.077,US,Ann Arbor,42.2755,-83.7312,322267,-83.731229,42.268157
39,London School of Hygiene and Tropical Medicine,CHAMNHA,United Kingdom,London,379024.787,EU,London,51.5072,-0.1275,11120000,-0.127647,51.507322

ImportError: cannot import name 'soft_unicode' from 'markupsafe' (C:\Users\cparker\Anaconda3\lib\site-packages\markupsafe\__init__.py)